@font-face {
    font-family:'Meilane' ;
    src: url(./fonts/meilane-cufonfonts/Meilane-lgRMd.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Meilane';
}

html, body{
    height: 100%;
    width: 100%;
}

.page1{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    position: relative; 
    padding: 0 2vw;

}

nav{
    padding: 1vw 0vw;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

nav h3{
    display: none;
}

nav img{
    width: 15%;
    height: 100%;
}

nav .nav-2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

nav .nav-2 h4{
 padding: 10px 20px; 
 border: 1px solid rgb(206, 206, 206);
 border-radius: 50px;  
 font-weight: 500;
 color: rgba(0, 0, 0, 0.569);
 position: relative;
 overflow: hidden;

}
nav .nav-2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;    
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.5s;
}

nav .nav-2 h4:hover::after{
    bottom: 0;
    border-radius: 0;

}

nav .nav-2 h4 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.569);
    position: relative;
    z-index: 9;
}

nav .nav-2 h4:hover a{
    color: white;
}


/* Center */

.center{
    width: 100%;
    height: 67vh;
    /* background-color: rgb(255, 180, 75); */
    /* background-color:orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 2.5vw;
}


.center .left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}



.center .right h1{
font-size: 10vw;
line-height: 10VW;
text-align: right;
}


.page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top:4vw;
    position: relative;
}


.test-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    background-color: #FE320A;
    /* border-radius: 50%; */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 75vh;
    filter: blur(20px);

}


.hero1{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

.hero2{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(#FE320A,#fe6c0a);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero3{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(#FE320A,#fe6c0a);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1{
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
}



.page2{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    background-color:#EFEAE3;
    position: relative;
}

.moving-font{
    white-space:nowrap;
    overflow-x: auto;
}

.moving-font::-webkit-scrollbar{
    display: none;
}

.moving-font h1{
    font-size: 9vw;
    display: inline-block;

}

.container{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

.circle{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color:#FE320A;
    border-radius: 50%;
    margin: 1vw 2vw;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: right; */
    padding: 4vw;
    position: relative;
    z-index: 9;  
}


.page2-bottom h1{
    font-size: 4vw;
    width: 65%;
    line-height: 4vw;
}

.bottom-part2{
    width: 25%;
}
.bottom-part2 img{
    border-radius: 8%;
    width: 100%;
}

.bottom-part2 p{
    font-style: italic;
    margin-top: 1.5vw;
}

.page2 .goe{
    height: 34vw;
    width: 34vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#FE320A,#feb10a);
    top: 55%;
    left: 15%;
    filter: blur(30px);
    animation-name: gooeAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes gooeAnimation{
    from{
        filter: blur(30px);
        transform: translate(10%,-10%) skew(0);
    }
    to{filter: blur(20px);
        transform: translate(-10%,10%)skew(-12deg);
    }
}

/* .page2 .goe1{
    height: 100%;
    width: 100%;
}
.page2 .goe2{} */


.page3{
    height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
}

.full-scr{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.587);
    position: fixed;
    z-index: 99;
    top: -150%;
    transition: all ease 0.6s;
}


.full-scr .full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media(max-width:600px){
    .page1{
        .page1{
            min-height: 100vh;
            width: 100vw;
            padding: 0 0vw;
        
        }
        
        nav{
            padding: 8vw 5vw;
            background-color: #EFEAE3;
          
        }

        nav h3{
            display: block;
            padding: 3vw 5vw;
            border: 1px solid #9b9b9b;
            border-radius: 50px;
            font-size: 4vw;
            font-weight: 200;
            padding-left: 10vw;
        }
        
        nav img{
            height: 9vh;
        }
        
        nav .nav-2{
            display: none;
            
        }
               
    }


    .center{
        width: 100%;
        height: 62vh;
        /* background-color: rgb(255, 180, 75); */
        /* background-color:orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #b3b3b3;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }
    
    
    .center .left h3{
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }
    
    
    
    .center .right h1{
    font-size: 16vw;
    line-height: 14VW;
    text-align: right;
    }
    
    
    .page1 video{
        width: 92%;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        border-radius: 15PX;
        margin-top:4vw;
        margin-left: 4%;
        position: relative;
    }
    
    
    .test-shape{
        position: absolute;
        width:82vw;
        height: 76vw;
        background-color: #FE320A;
        /* border-radius: 50%; */
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        right: 0;
        top: 75vh;
        filter: blur(20px);
    
    }
    
    
    .hero1{
        height: 100%;
        width: 100%;
        background-color: #FE320A;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(10px);
        position: absolute;
    }
    
    .hero2{
        height: 30vw;
        width: 30vw;
        background:linear-gradient(#FE320A,#fe6c0a);
        border-radius: 50%;
        filter: blur(25px);
        position: absolute;
        animation-name: anime2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    
    .hero3{
        height: 30vw;
        width: 30vw;
        background:linear-gradient(#FE320A,#fe6c0a);
        border-radius: 50%;
        filter: blur(25px);
        position: absolute;
        animation-name: anime1;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    
.page2{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    background-color:#EFEAE3;
    position: relative;
}

.moving-font{
    white-space:nowrap;
    overflow-x: auto;
}

.moving-font::-webkit-scrollbar{
    display: none;
}

.moving-font h1{
    font-size: 15vw;
    display: inline-block;

}

.container{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

.circle{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color:#FE320A;
    border-radius: 50%;
    margin: 1vw 2vw;
}


.page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* text-align: right; */
    padding: 10vw 4vw;
    position: relative;
    align-items: center;
    z-index: 9;  
}


.page2-bottom h1{
    font-size: 8vw;
    width: 100%;
    line-height: 10vw;
}

.bottom-part2{
    width: 70%;
}
.bottom-part2 img{
    border-radius: 10px;
    width: 100%;
}

.bottom-part2 p{
    font-style: italic;
    margin-top: 1.5vw;
    font-size: 3vw;
}

.page2 .goe{
    height: 74vw;
    width: 74vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#FE320A,#feb10a);
    top: 55%;
    left: 15%;
    filter: blur(30px);
    animation-name: gooeAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


}




.loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}




.loader h1{
    color: transparent;
    font-size: 4vw;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
}


.loader h1:nth-child(2){
    animation-delay: 2s;    
}
.loader h1:nth-child(3){
    animation-delay: 3s;
}




@keyframes loading{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}






